html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; 
}
body {
  height: 100%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #666666;
  background-color:#ececec;
  line-height: 1.5; 
  font-size: 90%;
  min-height: 100%;
  background-image: url(/images/gradient.png);
  background-repeat: repeat-x;
}	
h1 {
  font-size: 20px;
  margin-top: 40px;	
}
h2 {
  color: #fa9007;
  margin-top:5px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;	
}
h3 {
  margin-bottom:-12px;	
}
h4 {
  margin-bottom:-12px;
  color: #fa9007;
  font-size:20px;  	
}
button {
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
li
{
  display:inline;
  margin: 10px;
  margin-top:5px;
  font-size: 11px;
}
a.hover {	
  text-decoration: underline;
}
div#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;

}
div#background {
  background-color:#FFF;
  display: block;
  overflow:auto;
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;  /* must be same height as the footer */

}
div#header {
  padding: 20px;
  padding-top: 35px;
  text-align: center;
}
div#header li a{
  font-size: 17px;
  color: #888;
  text-decoration: none;
  font-style: bold;
}
div#header li a:hover{
  color: #444;
  text-decoration: underline;
  font-style: bold;
}	
div.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  text-align: left;
  padding-bottom: 40px;
}
div#footer {
  text-align:right;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #444;
  color: white;
  font-size: 9px;
  font-family: Verdana, Arial, sans-serif;
  position: relative;	
  padding: 5px;
  margin-top: -30px; /* negative value of footer height */
  height: 30px;
  clear:both;
}
img.picture {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
img.logo_sm {
  display: block;
  margin-right: auto 
}