html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; 
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #666666;
  background-color:#ececec;
  line-height: 1.5; 
  font-size: 90%;
}	

h1 {
  font-size: 20px;
  margin-top: 50px;	
}

h2 {
  color: #fa9007;
  padding-top:5px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;	
}

h3 {
  margin-bottom:-12px;	
}

button {
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

li
{
  display:inline;
  margin: 10px;
  font-size: 11px;
}
a.hover {	
  text-decoration: underline;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

img.logo_sm {
  display: block;
  margin-right: auto 
}

div.header {
  background-color:#444;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display:block;
}

div.header a {
  color: white;
  text-decoration: none;
}

div.background {
  background-color:#FFF;
  display: block;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;

}

div.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  text-align: left;
	}

div.header {
  width: 100%;
  background: #444;	
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

div.footer {
  text-align:right;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #444;
  color: white;
  font-size: 8px;
  font-family: Verdana, Arial, sans-serif;
  padding: 5px;
}	
