html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #666666;
  background-color:#efffd1;
	
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

body {
  line-height: 1.5; }



IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto }